<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th class="h4">#</th>
          <th class="h4">Name</th>
          <th class="h4">Channel</th>
          <th class="h4">Seasons</th>
        </tr>
      </thead>
      <tbody>
        @for (serie of series; track serie.id) {
          <tr>
            <td>
              <dd>{{ serie.id }}</dd>
            </td>
            <td>
              <dd>{{ serie.name }}</dd>
            </td>
            <td>
              <dd>{{ serie.channel }}</dd>
            </td>
            <td>
              <dd>{{ serie.seasons }}</dd>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
